In [746]:
import datetime
import pandas as pd
import numpy as np
import os
import sys
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
import json

loc = os.getcwd()
sys.path.append(os.path.abspath('nytimesarticle-0.1.0'))
from get_NYT import get_NYT

from get_fx import get_fx
with open('keys.json') as keys:
    creds = json.load(keys)

In [728]:
if __name__ == '__main__':
    
    today = datetime.date.today()
    today_dt = str(today.year)+str(today.month).zfill(2)+str(today.day).zfill(2)
    brexit_dt = datetime.date(2016,6,22)
    start = str(brexit_dt.year)+str(brexit_dt.month).zfill(2)+str(brexit_dt.day).zfill(2)
    hist = today - brexit_dt

    '''Load price change file
    '''
    df_chg = pd.read_csv('GBPUSD_CHNG.csv',header=None,names=['date','change'])
    df_chg = df_chg.set_index(pd.DatetimeIndex(df_chg['date']))

    '''Grab new FX prices and calculate changes
    '''
    max_dt = max(pd.to_datetime(df_chg['date']))
    begin = max_dt.date() + datetime.timedelta(1)
    if max_dt.date() < today:
        fx_price_gap = get_fx(creds['ACCESS_KEY'], creds['url'], begin, today)
        dt_index = pd.date_range(max_dt,periods=(pd.to_datetime(today)-max_dt).days+1,freq='D')[::-1][:-1]
        dt_gap = [str(d.month)+'/'+str(d.day)+'/'+str(d.year) for d in dt_index]
        dt_gap = pd.DataFrame(dt_gap)
        fx_prices_more = pd.DataFrame(fx_price_gap)
        fx_px_delta = pd.concat([dt_gap,fx_prices_more], axis=1)
        fx_px_delta.columns = ['date','price']
        fx_price_hist = pd.read_csv('GBPUSD.csv',names=['date','price'],header=0)
        fx_prices = pd.concat([fx_px_delta,fx_price_hist],axis=0)
        fx_prices.to_csv('GBPUSD.csv',index=False)
        fx_prices = pd.read_csv('GBPUSD.csv',names=['date','price'],header=0)

        '''Calculate 1-day price change directions
        '''
        df_move = np.array(fx_prices.iloc[:-1,1]) - np.array(fx_prices.iloc[1:,1])
        df_signal = np.sign(df_move)
        df_chg = pd.Series(df_signal,index=fx_prices.iloc[:-1,0])
        df_chg.to_csv('GBPUSD_CHNG.csv')

In [542]:
    '''Backfill NYT articles'''
    df_NYT = pd.read_csv('NYTimes_20160623-20161202.csv',header=0,names=['dates','content'])
    df_NYT.set_index('dates',inplace=True)
    max_NYT_dt = max(pd.to_datetime(df_NYT.index))
    if max_NYT_dt.date() < today:
        begin_NYT = max_NYT_dt.date() + datetime.timedelta(1)
        begin_dt = str(begin_NYT.year)+str(begin_NYT.month).zfill(2)+str(begin_NYT.day).zfill(2)
        dts_NYT_fill, corpus_NYT_fill = get_NYT(begin_dt, today_dt)
        datetimes = [pd.to_datetime(dt) for dt in dts_NYT_fill]
        max_dt = max(datetimes)
        curr_articles = sum(np.array(datetimes) == max_dt)
        print "number of articles today: {}".format(curr_articles)
        #dt_NYT_gap = [d.strftime('%m/%d/%y') for d in dts_NYT_fill]
        dts_fill_NYT = [str(dt.month)+'/'+str(dt.day)+'/'+str(dt.year-2000) for dt in dts_NYT_fill]
        dt_NYT_gap = pd.DataFrame(dts_fill_NYT)
        df_NYT_corpus = pd.DataFrame(corpus_NYT_fill)
        pd_NYT_fill = pd.concat([dt_NYT_gap,df_NYT_corpus], axis=1)
        pd_NYT_fill.columns=['date','content']
        pd_NYT_fill.set_index('date',inplace=True)
        pd_NYT_fill

5
number of articles today: 1

                                                      content
date
2016-12-05  ROME     Italians voted in record numbers on S...
2016-12-05  Global markets were not lacking in precarious ...
2016-12-05  LONDON     In one of the most significant cons...
2016-12-05      Prime Minister Matteo Renzi offered his re...
2016-12-08  BURNASTON  England     On    s brightly lit as...

In [550]:
    if dts_NYT_fill: 
        max_dt = dts_NYT_fill[-1]
        end_str = [int(d) for d in max_dt.split('-')]
        end_dt = datetime.date(end_str[0],end_str[1],end_str[2])
        ind_test = str(end_dt.month)+'/'+str(end_dt.day)+'/'+str(end_dt.year-2000)

2016-12-08

In [591]:
dt_comp = [dt.split('-') for dt in dts_NYT_fill]
#dts_NYT_fill = [dt[1]+'/'+str(int(dt[2]))+'/'+str(int(dt[0])) for dt in dt_comp]
dt_temp = [dt[0].split('/') for dt in dt_comp]
dts_NYT_fill = [dt[0]+'/'+str(int(dt[1]))+'/'+str(int(dt[2])) for dt in dt_temp]

In [612]:
    #dts_fill_NYT = [dt.split('-') for dt in dts_NYT_fill]
    dt_NYT_gap = pd.DataFrame(dts_NYT_fill)
    df_NYT_corpus = pd.DataFrame(corpus_NYT_fill)
    pd_NYT_fill = pd.concat([dt_NYT_gap,df_NYT_corpus], axis=1)
    pd_NYT_fill.reset_index(inplace=True, drop=True)
    pd_NYT_fill.columns=['dates','content']
    df_NYT_update = df_NYT[:51].append(pd_NYT_fill,ignore_index=True)
    df_NYT_update.to_csv('NYTimes_20160623-20161208.csv')

In [616]:
df_NYT.set_index('dates')

                                                    content
dates
6/23/16   Twilio  which makes software that helps compan...
6/23/16   LONDON     Ask for his opinion  and David Howe...
6/23/16   LONDON     Politicians campaigning for and aga...
6/23/16   LONDON     Battle lines have been sharply draw...
6/23/16   LONDON     If  wakes up on Friday morning to t...
6/27/16   LONDON     British cultural organizations and ...
6/27/16   American officials struggling to reimagine the...
6/27/16   LONDON     Luke Hickmore had an aperitif Thurs...
6/27/16   CANNES  France     The invasion has begun In t...
6/27/16   LONDON     When Britons voted in a referendum ...
6/27/16   As global markets reel after an establishment ...
6/27/16   LONDON     Freed from the shackles of the     ...
6/27/16   Even some of the smartest guys in the room got...
6/27/16   WASHINGTON     The economic fallout from    s ...
6/27/16   LONDON     The crisis ritual that will play ou...
6/30/16   BEIJING        The trouble with committing pol...
6/30/16   LONDON     He kept his cool as foul mouthed ho...
6/30/16   Banks and other financial companies led anothe...
6/30/16   OTTAWA     For   foreign trips these days have...
6/30/16   LONDON     Conservative Party candidates to su...
6/30/16   European leaders met in Brussels on Wednesday ...
7/5/16    With the summer upon us and the so called Brex...
7/5/16    A British  with large investments in London co...
7/5/16    LONDON     A lawsuit could threaten    Brexit ...
7/5/16    LONDON     He spent nearly 20 years pushing fo...
7/8/16    LONDON     It is hard  if not impossible  to r...
7/8/16    WARSAW      arrived here early on Friday morni...
7/8/16    NICE  France     For families wealthy enough t...
7/8/16    LONDON     Conservative lawmakers have ensured...
7/8/16    LONDON     It was only a column in The Daily M...
7/8/16    WARSAW     Polish leaders have waited for year...
7/11/16   TOKYO     Voters helped Prime Minister  of  mo...
7/14/16   When it comes to bond yields in Europe  it see...
7/14/16   HOKKSUND  Norway     Sigurd Braathen worked fo...
7/17/16   The last election I covered didn   t work out ...
7/22/16   LONDON     When     entered Parliament on Mond...
7/22/16   FRANKFURT     The eurozone is in a state of un...
7/22/16   CLEVELAND     It is supposed to be a coronatio...
9/25/16   MOSCOW      may jail its own separatists  but ...
11/4/16   LONDON      officials  feeling exasperated on ...
11/8/16   LONDON     The peaks are slimmer and the valle...
11/18/16  PARIS     In the age of Donald J  Trump     Br...
11/22/16  LONDON     Once again  President elect  seems ...
11/22/16  LONDON     When President elect   in recent da...
11/23/16  LONDON     After years of tough spending curbs...
11/28/16  JERUSALEM     Within days of    s election to ...
11/29/16  LONDON     It   s official     or is it  The B...
11/30/16  The  in    s center right presidential primary...
12/2/16   LONDON     An election  here was supposed to b...
12/2/16   TURIN  Italy        s prime minister  Matteo R...
12/2/16   LONDON     In a surprise upset  a candidate of...
12/5/16   ROME     Italians voted in record numbers on S...
12/5/16   Global markets were not lacking in precarious ...
12/5/16   LONDON     In one of the most significant cons...
12/5/16       Prime Minister Matteo Renzi offered his re...
12/8/16   BURNASTON  England     On    s brightly lit as...

In [617]:
    df_NYT = pd.read_csv('NYTimes_20160623-20161208.csv',header=0,names=['dates','content'])
    df_NYT.set_index('dates',inplace=True)
    corpus = df_NYT.loc[:ind_test]['content']
    mask = corpus.index.isin([ind_test])
    corpus_train = corpus.loc[~mask]
    X_train = count_vec.fit_transform(corpus_train)

In [680]:
'''
max_dt = pd.to_datetime('12/8/2016')
indx_test = pd.date_range(max_dt,periods=(pd.to_datetime(today)-max_dt).days+1,freq='D')[::-1][:-1]
[str(d.month)+'/'+str(d.day)+'/'+str(d.year) for d in indx_test]
'''
#dt_temp = [dt.split('/') for dt in df_chg.index]
#dt_col = [str(dt[0])+'/'+str(int(dt[1]))+'/'+str(dt[2]) for dt in dt_temp]
#df_chg.reset_index(inplace=True, drop=True)
#df_chg.values
#df_chg = pd.concat([df_chg,pd.Series(dt_col)],axis=1,names=['change','dates'])
df_chg.rename(columns ={0:'change',1:'dates'},inplace=True)
#df_chg.drop(axis=1,level=2,inplace=True)
df_chg = pd.concat([df_chg.ix[:,1],df_chg.ix[:,0]], axis=1)

In [685]:
df_chg.set_index('dates',inplace=True)
df_chg

          change
dates
12/10/16       0
12/9/16       -1
12/8/16       -1
12/7/16       -1
12/6/16       -1
12/5/16        1
12/4/16       -1
12/3/16        0
12/2/16        1
12/1/16        1
11/30/16       1
11/29/16      -1
11/28/16      -1
11/27/16      -1
11/26/16       0
11/25/16       1
11/24/16       1
11/23/16       1
11/22/16      -1
11/21/16       1
11/20/16      -1
11/19/16       0
11/18/16      -1
11/17/16      -1
11/16/16      -1
11/15/16      -1
11/14/16      -1
11/13/16      -1
11/12/16       0
11/11/16       1
...          ...
7/22/16       -1
7/21/16       -1
7/20/16        1
7/19/16       -1
7/18/16        1
7/17/16        1
7/16/16        0
7/15/16       -1
7/14/16        1
7/13/16       -1
7/12/16        1
7/11/16        1
7/10/16       -1
7/9/16         0
7/8/16         1
7/7/16        -1
7/6/16        -1
7/5/16        -1
7/4/16        -1
7/3/16         1
7/2/16         1
7/1/16        -1
6/30/16       -1
6/29/16        1
6/28/16        1
6/27/16       -1
6/26/16       -1
6/25/16        0
6/24/16       -1
6/23/16        1

[171 rows x 1 columns]

In [698]:
    Y = []
    for dt in corpus.index:
        '''Remove leading zeros from 12/05/16'''
        Y.append(df_chg.loc[dt]['change'])
    df_px_article = pd.DataFrame(Y,index=pd.DatetimeIndex(corpus.index),columns=['PriceChg'])
    df_px_article

            PriceChg
2016-06-23         1
2016-06-23         1
2016-06-23         1
2016-06-23         1
2016-06-23         1
2016-06-27        -1
2016-06-27        -1
2016-06-27        -1
2016-06-27        -1
2016-06-27        -1
2016-06-27        -1
2016-06-27        -1
2016-06-27        -1
2016-06-27        -1
2016-06-27        -1
2016-06-30        -1
2016-06-30        -1
2016-06-30        -1
2016-06-30        -1
2016-06-30        -1
2016-06-30        -1
2016-07-05        -1
2016-07-05        -1
2016-07-05        -1
2016-07-05        -1
2016-07-08         1
2016-07-08         1
2016-07-08         1
2016-07-08         1
2016-07-08         1
2016-07-08         1
2016-07-11         1
2016-07-14         1
2016-07-14         1
2016-07-17         1
2016-07-22        -1
2016-07-22        -1
2016-07-22        -1
2016-09-25         1
2016-11-04         1
2016-11-08        -1
2016-11-18        -1
2016-11-22        -1
2016-11-22        -1
2016-11-23         1
2016-11-28        -1
2016-11-29        -1
2016-11-30         1
2016-12-02         1
2016-12-02         1
2016-12-02         1
2016-12-05         1
2016-12-05         1
2016-12-05         1
2016-12-05         1
2016-12-08        -1

In [701]:
df_NYT.set_index('dates', inplace=True)

In [711]:
len(corpus_test)

1

In [ ]:
    count_vec = CountVectorizer(min_df=1,stop_words='english',lowercase=True)
    tfidf_vec = TfidfVectorizer(sublinear_tf=True, max_df=0.5,stop_words='english')

In [721]:
    corpus_test = df_NYT.loc[ind_test]['content']
    if isinstance(corpus_test, str):
        corpus_test = [corpus_test]
    else: 
        corpus_test = [d for d in corpus_test]
    corpus_train = df_NYT[:-len(corpus_test)]['content']
    X_train = count_vec.fit_transform(corpus_train)
    X_test = count_vec.transform(corpus_test)
    Y_train = Y[:-len(corpus_test)]
    Y_test = Y[-len(corpus_test):]

In [722]:
print len(Y_train)
print X_train.shape

55
(55, 7200)

In [723]:
print len(Y_test)
print X_test.shape

1
(1, 7200)

In [724]:
    clf = MultinomialNB(alpha=1.0, fit_prior=True, class_prior=None)
    clf.fit(X_train, Y_train)
    print clf.predict(X_test)

[ 1.]

In [720]:
    X_tfidf_train = tfidf_vec.fit_transform(corpus_train)
    X_tfidf_test = tfidf_vec.transform(corpus_test)
    clf.fit(X_tfidf_train, Y_train)
    print clf.predict(X_tfidf_test)

[-1.]